   @layer components {
       .scrollbar-hide::-webkit-scrollbar {
           display: none;
       }

       .scrollbar-hide {
           -ms-overflow-style: none;
           /* IE and Edge */
           scrollbar-width: none;
           /* Firefox */
       }
   }

   .bg-gradient-purple {
       background: linear-gradient(180deg, #7A43A4 0%, #6049BC 100%);
   }

   .dark .bg-gradient-purple-outline {
       border: 1.973px dashed rgba(210, 74, 201, 0.4);
       background: linear-gradient(to bottom, rgba(122, 67, 164, 0.3), rgba(96, 73, 188, 0.17));
   }

   .light .bg-gradient-purple-outline {
       border: 1.973px dashed #E6A0E2;
       background: linear-gradient(to bottom, rgba(122, 67, 164, 0.1), rgba(96, 73, 188, 0.05));
   }

   .dark .text-gradient-purple {
       background: linear-gradient(180deg, #7A43A4 0%, #6049BC 100%);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       background-clip: text;
       color: transparent;
   }

   .light .text-gradient-purple {
       background: linear-gradient(180deg, #7A43A4 0%, #6049BC 100%);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       background-clip: text;
       color: transparent;
   }

   .dark .bg-main {
       background-color: #1C202B;
       box-shadow: inset 5px 5px 20px rgba(122, 67, 164, 0.3), inset 3px 3px 40px rgba(96, 73, 188, 0.17);
   }

   .light .bg-main {
       background-color: #f0f0f5;
       box-shadow: inset 5px 5px 20px rgba(122, 67, 164, 0.1), inset 3px 3px 40px rgba(96, 73, 188, 0.07);
   }

   .dark .bg-sidebar {
       background-color: #1C202B;
       background-image: linear-gradient(to top, rgba(96, 73, 188, 0.17), rgba(122, 67, 164, 0.3));
   }

   .light .bg-sidebar {
       background-color: #FFFFFF;
       background-image: linear-gradient(to top, rgba(96, 73, 188, 0.05), rgba(122, 67, 164, 0.1));
   }

   .dark .bg-card-dark {
       background: linear-gradient(to top, rgba(122, 67, 164, 0.3), rgba(96, 73, 188, 0.17));
   }

   .light .bg-card-light {
       background: linear-gradient(to top, rgba(122, 67, 164, 0.1), rgba(96, 73, 188, 0.05));
   }

   .dark .text-light-dark {
       color: #fff;
   }

   .light .text-light-dark {
       color: #1C202B;
   }

   .dark .text-light-dark-70 {
       color: rgba(255, 255, 255, 0.7);
   }

   .light .text-light-dark-70 {
       color: rgba(28, 32, 43, 0.7);
   }

   .dark .text-purple-600 {
       color: #a855f7;
   }

   .light .text-purple-600 {
       color: #8b5cf6;
   }

   .dark .border-purple-600 {
       border-color: #a855f7;
   }

   .light .border-purple-600 {
       border-color: #8b5cf6;
   }

   .dark .bg-purple-600 {
       background-color: #a855f7;
   }

   .light .bg-purple-600 {
       background-color: #8b5cf6;
   }

   .dark .hover\\:bg-purple-600:hover {
       background-color: #8b5cf6;
   }

   .light .hover\\:bg-purple-600:hover {
       background-color: #a855f7;
   }






   /* Hide the original Google Translate dropdown */
   #google_translate_element {
       display: none;
   }

   .goog-te-banner-frame.skiptranslate,
   .goog-te-gadget-icon {
       display: none !important;
   }

   body {
       top: 0px !important;
       font-family: "Space Grotesk", sans-serif;
   }

   .VIpgJd-ZVi9od-ORHb-OEVmcd {
       display: none !important;
   }

   .VIpgJd-ZVi9od-aZ2wEe-OiiCO-ti6hGc {
       display: none !important;
   }

   .font-space {
       font-family: "Space Grotesk", sans-serif;
   }





   /* In your main CSS file or in a <style> tag in the <head> */
   .sidebar-submenu-item .indicator {
       width: 10px;
       height: 10px;
       border-radius: 50%;
       border: 1px solid #e6a0e2;
       transition: all 0.3s;
   }

   .sidebar-submenu-item.sidebar-submenu-active .indicator {
       background-color: #6049bc;
       border-color: #6049bc;
   }

   .sidebar-submenu-item.sidebar-submenu-active {
       color: white;
       font-weight: 500;
   }

